<form action="/add" method="POST">
    <p>Titulo: </p>
    <input type="text" name="titulo" id="">
    <p>Conteúdo: </p>
    <input type="text" name="conteudo" id="">
    <button type="submit">Cadastrar Postagens</button>
</form>